<section class="admission_header">
    <div class="container">
        <div class="breadcrumbs">
            <a class="breadcrumbs_home" href="">Home </a>
            <p> /</p>
            <a href="">About KCA</a>
        </div>

        <header id="desktop-header">
            <div class="container">
                <nav>
                    <img alt="" src="./img/logo.png"/>
                    <ul>
                        <li><a href="../index.html">Home</a></li>
                        <li>
                            <a href="../about.html">About KCA </a
                            ><i><img alt="" src="./img/down-arrow.svg"/></i>
                        </li>
                        <li>
                            <a href="#">Teching Opportunities</a
                            ><i><img alt="" src="./img/down-arrow.svg"/></i>
                        </li>
                        <li>
                            <a href="#">Academics</a
                            ><i><img alt="" src="./img/down-arrow.svg"/></i>
                        </li>
                        <li>
                            <a href="#">Student Life</a
                            ><i><img alt="" src="./img/down-arrow.svg"/></i>
                        </li>
                        <li><a href="#">Reviews</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                    <button class="btn-orange">Donate</button>
                </nav>
            </div>
        </header>
    </div>
</section>