.teching-job {
  margin-top: 140px;
}
.teaching-job_first {
  color: #000;

  font-family: Gilroy;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
}

.teaching-job_second {
  margin-top: 40px;
  ul {
    color: #000;

    font-family: Gilroy;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
  }

  li {
    margin-bottom: 10px;
    list-style: disc;
    margin-left: 20px;
  }
}

.teaching-job_third {
  margin-top: 40px;
  p {
    color: #000;
    font-family: Gilroy;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 135%;
  }

  ul {
    color: #000;

    font-family: Gilroy;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
  }

  li {
    margin-bottom: 10px;
    list-style: disc;
    margin-left: 20px;
  }
}

.teaching-job_fourth {
  margin-top: 40px;
  p {
    color: #000;
    font-family: Gilroy;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 135%;
  }

  ul {
    color: #000;

    font-family: Gilroy;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
  }

  li {
    margin-bottom: 10px;
    list-style: disc;
    margin-left: 20px;
  }
}

.teaching-job_five {
  margin-top: 40px;
  p {
    color: #000;
    font-family: Gilroy;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 135%;
  }

  ul {
    color: #000;

    font-family: Gilroy;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
  }

  li {
    margin-bottom: 10px;
    list-style: disc;
    margin-left: 20px;
  }
}
