<section class="about-section">
  <div class="container">
    <h2 class="title-section title_section--about">
      Find out more <br />
      about us
    </h2>

    <div class="about-list">
      <div class="about-item">
        <img
          class="about__fragment"
          src="./img/home/about/fragment-blue.png"
          alt=""
        />
        <img
          class="about__fragment about__fragment--horizontal"
          src="./img/home/about/fragment-blue.png"
          alt=""
        />
        <h2 class="title-block title-block--about">About</h2>
        <div class="about__icon">
          <img src="./img/home/about/icon-1.png" />
        </div>
        <button class="btn-blue-round">Learn more</button>
      </div>

      <div class="about-item">
        <img
          class="about__fragment"
          src="./img/home/about/fragment-yellow.png"
          alt=""
        />
        <img
          class="about__fragment about__fragment--horizontal"
          src="./img/home/about/fragment-yellow.png"
          alt=""
        />
        <h2 class="title-block title-block--about">Accreditation</h2>
        <div class="about__icon">
          <img src="./img/home/about/icon-2.png" />
        </div>
        <button class="btn-yellow-round">Learn more</button>
      </div>

      <div class="about-item">
        <img
          class="about__fragment"
          src="./img/home/about/fragment-blue.png"
          alt=""
        />
        <img
          class="about__fragment about__fragment--horizontal"
          src="./img/home/about/fragment-blue.png"
          alt=""
        />
        <h2 class="title-block title-block--about">KCA faculty</h2>
        <div class="about__icon">
          <img src="./img/home/about/icon-3.png" />
        </div>
        <button class="btn-blue-round">Learn more</button>
      </div>

      <div class="about-item">
        <img
          class="about__fragment"
          src="./img/home/about/fragment-yellow.png"
          alt=""
        />
        <img
          class="about__fragment about__fragment--horizontal"
          src="./img/home/about/fragment-yellow.png"
          alt=""
        />
        <h2 class="title-block title-block--about">School-calender</h2>
        <div class="about__icon">
          <img src="./img/home/about/icon-4.png" />
        </div>
        <button class="btn-yellow-round">Learn more</button>
      </div>

      <div class="about-item">
        <img
          class="about__fragment"
          src="./img/home/about/fragment-blue.png"
          alt=""
        />
        <img
          class="about__fragment about__fragment--horizontal"
          src="./img/home/about/fragment-blue.png"
          alt=""
        />
        <h2 class="title-block title-block--about">Activities</h2>
        <div class="about__icon">
          <img src="./img/home/about/icon-5.png" />
        </div>
        <button class="btn-blue-round">Learn more</button>
      </div>

      <div class="about-item">
        <img
          class="about__fragment"
          src="./img/home/about/fragment-yellow.png"
          alt=""
        />
        <img
          class="about__fragment about__fragment--horizontal"
          src="./img/home/about/fragment-yellow.png"
          alt=""
        />
        <h2 class="title-block title-block--about">School supply list</h2>
        <div class="about__icon">
          <img src="./img/home/about/icon-6.png" />
        </div>
        <button class="btn-yellow-round">Learn more</button>
      </div>

      <div class="about-item">
        <img
          class="about__fragment"
          src="./img/home/about/fragment-blue.png"
          alt=""
        />
        <img
          class="about__fragment about__fragment--horizontal"
          src="./img/home/about/fragment-blue.png"
          alt=""
        />
        <h2 class="title-block title-block--about">Apply online</h2>
        <div class="about__icon">
          <img src="./img/home/about/icon-7.png" />
        </div>
        <button class="btn-blue-round">Learn more</button>
      </div>

      <div class="about-item">
        <img
          class="about__fragment"
          src="./img/home/about/fragment-yellow.png"
          alt=""
        />
        <img
          class="about__fragment about__fragment--horizontal"
          src="./img/home/about/fragment-yellow.png"
          alt=""
        />
        <h2 class="title-block title-block--about">Contact KCA</h2>
        <div class="about__icon">
          <img src="./img/home/about/icon-8.png" />
        </div>
        <button class="btn-yellow-round">Learn more</button>
      </div>
    </div>
  </div>
</section>
