<section>
  @@include('../header.html')
  @@include('../mobile-header.html')

  <div class="main_section">
    <div class="container">
      <div class="text_wrapper">
        <h1>Welcome to Kyiv Christian Academy</h1>
        <h2>
          Please click on the link below to view our Video Journey and find out
          what makes our school one of the most respected in the country.
        </h2>
      </div>
      <div class="btn_wrapper">
        <button class="btn-blue">Apply Online Now</button>
        <button class="btn-blue">View video</button>
      </div>
    </div>
  </div>
</section>
