<section class="third-section">
  <div class="container">
    <div class="title-description">
      <h2 class="title-section">Our Mission</h2>
      <p class="subtitle-section">
        Kyiv Christian Academy exists to help fulfill the Great Commission by
        partnering with missionary families to offer a quality education in the
        English language within the framework of a Biblical worldview.
      </p>
    </div>
    <div class="pic-wrapper">
      <img alt="" src="./img/home/third-img-desktop.jpg" class="img-desktop" />
    </div>
  </div>
</section>
