<header id="desktop-header">
    <div class="container">
        <nav>
            <a href="./index.html">
                <img alt="" src="./img/logo.png"/>
            </a>
            <ul>
                <li><a href="./index.html">Home</a></li>
                <li>
                    <button>About KCA</button>

                    <div class="hidden_menu">
                        <a href="./about.html">About KCA</a>
                        <a href="./about_accreditation.html">Accreditation </a>
                        <a href="./about_faculty.html">Faculty </a>
                        <a href="./about_covid19-information.html">Information </a>
                    </div>
                    <i><img alt="" src="../img/down-arrow.svg"/></i>
                </li>
                <li>
                    <button>Admissions</button>
                    <div class="hidden_menu">
                        <a href="./admissions.html">Admission info</a>
                        <a href="" style="cursor: not-allowed">Tuition </a>
                        <a href="" style="cursor: not-allowed">Apply online </a>
                    </div>
                    <i><img alt="" src="../img/down-arrow.svg"/></i>
                </li>
                <li>
                    <button>
                        Teaching
                    </button>
                    <div class="hidden_menu">
                        <a href="./teaching_opportunities.html">Teaching<br/> Opportunities</a>
                        <a href="./teach_job_descriptions.html">Teacher Job<br/> Description</a>
                        <a href="./teaching_faq.html">FAQ</a>
                    </div>
                    <i><img alt="" src="./img/down-arrow.svg"/></i>
                </li>
                <li>
                    <a href="./academics.html">Academics</a
                    ><i><img alt="" src="./img/down-arrow.svg"/></i>
                </li>
                <li>
                    <a href="#" style="cursor: not-allowed">Student Life</a
                    ><i><img alt="" src="./img/down-arrow.svg"/></i>
                </li>
                <li><a href="#" style="cursor: not-allowed">Reviews</a></li>
                <li><a href="#" style="cursor: not-allowed">Contact Us</a></li>
            </ul>
            <button class="btn-blue" style="cursor: not-allowed">Donate</button>
        </nav>
    </div>
</header>
